@import "../variables/*";

.search-field[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 31px;
    width: 491px;
    border-radius: 2px;
    padding: 1px 10px 2px 39px;
    margin-top: 10px;
    font-family: $hel-norm;
    background-color: #2f3d50;
}

.search-field[type=text].outside {
    background-color: transparent;
}

/* When the input field gets focus, change its width to 100% */
.search-field[type=text]:focus {
    background-color: #ffffff;
    transition: background 75ms,color 75ms;
}

.navbar{
  height: 54px;
  padding-right: 20px;
  border-bottom: 1px solid $light-border;
  width: 99%;
  z-index: 90;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.13);
  transform: translateZ(0) translateY(0);
}

.navbar.outside{
  border-bottom: none;
  box-shadow: none;
}


.logo{
  float: left;
  height: 100%;
  width: auto;
  overflow: hidden;
  margin-right: -3px;
  // display: inline-block;

}

.logo .png-logo{
  padding: 11px 18px 6px 22px;
  height: 35px;
  width: 21px;
  font-style: $hel-norm;
  font-weight: 700;
  font-size: 30px;
  color: #1b0202;
  // background: url("https://i.imgur.com/NG05NYX.png") 22px 11px no-repeat;
  background-size: 19px 33px;
  margin-right: 20px;
}


.search-field{
  width: 540px;
}
.nav-signup{
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: $hel-norm;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #0f030c;
  background-color: #ffffff;
  width: 76.31px;
  height: 32px;
  padding: 5px 13px;
}

.nav-login{
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: $hel-norm;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: $transparent;
  width: 67.22px;
  height: 32px;
  padding: 5px 13px;
}

.nav-right{
  float: right;
  margin-top: 10px;
  height: 32px;
  margin-right: 0;
  position: relative;
  vertical-align: top;
  width: 80px;
}

.nav-logout{
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: $hel-norm;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: $tumblr-back;
  width: 76.31px;
  height: 32px;
  padding-left: 8px;
}

.black-home{
  color: black;
}

.logo .png-logo.white-home{
  color: white;
}
