/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */

// CSS reset
// @import "base/reset.scss";

// Core

// Components
@import "variables/*";

html {
  background-color: $tumblr-back;
  background: url('https://i.imgur.com/qk71sMS.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
}

li, ol, ul {
  list-style-type: none;
  padding: 0;
}

#root{
  height: 100vh;
  overflow: overlay;
}
// FADING IN
.fade-in{
  -webkit-animation: fade-in 1s ease;
  -moz-animation: fade-in ease-in-out 1s both;
  -ms-animation: fade-in ease-in-out 1s both;
  -o-animation: fade-in ease-in-out 1s both;
  animation: fade-in 1s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

// FADING IN


.fullscreen{
  height: 100vh;
  // background-color: $tumblr-back;
  // background-image: url('https://i.imgur.com/qk71sMS.gif');
  min-height: 300px;
  min-width: 300px;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position: 50% 50%;
}


// .Aligner {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
//
// .Aligner-item {
//   max-width: 50%;
// }
//
// .Aligner-item--top {
//   align-self: flex-start;
// }
//
// .Aligner-item--bottom {
//   align-self: flex-end;
// }





/* .bg-dash{
  background-repeat:no-repeat;
  background-position:center;
  min-height: 50vh;
  background-image: url('https://i.imgur.com/AQo6tuw.gif')
} */
