/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1{
  color: yellow;
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 5px black, 10px 10px 10px white, 15px 15px 15px red, 20px 20px 20px green;
}

h2{
  display: flex;
  justify-content: center;
  color: yellow;
  text-shadow: 2px 2px 2px black, 4px 4px 4px yellow, 6px 6px 6px purple, 8px 8px 8px green;
}

body{
  background-color: #666699;
  background-image: url('https://i.imgur.com/FkI0F8z.jpg');
  /* background-image: url('https://i.imgur.com/7maegAd.jpg'); */
}

.button-div{
  display: flex;
  justify-content: center;
}

.butts{
  background-color: yellow;
  border: 2px solid black;
  border-radius: 10%
}

.session-link{
  display: flex;
  justify-content: center;
}

.lank{
  padding: 10px;
  color: yellow;
  text-shadow: black;
}
