.bg-1 {
  background-image: ('https://i.imgur.com/Znl17nz.gif')

}

.bg-2 {
  background-image: url('https://i.imgur.com/qk71sMS.gif')
}

.bg-3 {
  background-image: url('https://i.imgur.com/Xlnu8vA.jpg')
}

.bg-4 {
  background-image: url('https://i.imgur.com/Znl17nz.gif')
}

.bg-5 {
  background-image: url('https://i.imgur.com/e1d8N2p.jpg')
}

.bg-6 {
  background-image: url('https://i.imgur.com/iK1kAEB.gif')
}

.bg-7 {
  background-image: url('https://i.imgur.com/Nj6ik63.png')
}

.bg-8 {
  background-image: url('https://i.imgur.com/exO5d9g.gif')
}

.bg-9 {
  background-image: url('https://i.imgur.com/CGXC7Sw.jpg')
}
