@import "./variables/*";

.welcome {
  display: flex;
  justify-content: center;
  color: #fff;
  // text-shadow: 2px 2px black;
  font-family: $hel-norm;
  font-size: 45px;
  font-weight: 900;
  // -webkit-text-stroke: 1px $light-font;
  color: white;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.welcome-message {
  display: flex;
  justify-content: center;
  color: #fff;
  // text-shadow: 2px 2px black;
  font-family: "Georgia";
  font-size: 130px;
  font-weight: 900;
  // -webkit-text-stroke: 1px $light-font;
  color: white;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

.button-div.demo-div {
  margin-top: 30px;
}
// .cat{
//   background-color: $transparent;
// }
#hideMe {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 20px;
  }
}
@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    margin: 20px;
  }
}

.linkedin {
  height: 60px;
  width: 60px;
  margin: 0 25px;
}

.github {
  height: 60px;
  width: 60px;
  margin: 0 25px;
}

.linkedin-out {
  height: 90px;
  width: 90px;
  margin: 35px 45px 0;
}

.github-out {
  height: 90px;
  width: 90px;
  margin: 35px 45px 0;
}
